{% extends "shop/../includes/nav_header.html" %}
{% load static %}

{% block title %}
    About Us
{% endblock title %}


{% block content %}

    <div class="container">

    	<br><br><h1 align='center'><font >ABOUT US</font></h1><br><br>
           <h5>Our company is a comprehensive online bookstore for both
                books and other products of every point of knowledge.
                Our philosophy is based on information, communication and
                 education, which we feel should be balanced
                 out with a daily dose of knowledge, wisdom,
                  understanding (overstanding, and innerstanding).
            <br><br> <P>Our website features books from every literary genre,
                 allowing us to appeal to any particular
                 taste a customer may have. Can't find what you're looking for?
                  We can order the book for you.
    In just a few business days, we'll get that book to you so that you can enjoy
     a quiet evening at home, prepare a nice
     gift for someone or simply use it to expand your horizons.
    Our experienced staff can assist you in selecting the right literature
     and will be glad to go that extra mile for you!</P></h5>
    <br><br>

        <br>
    <hr>
    <h2>UML Models</h2>
    <h2>An UML diagram of the site's Django model structure is shown below. </h2>
    <img src="{% static "images/graph.png" %}" alt="My image" style="max-width: 100%"/>

{% endblock %}