{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ book.name }}
{% endblock %}

{% block content %}

    <div class="book-detail">

        <a href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}" alt="Responsive image"> </a>

        <div class="add-basket">
            <br> <br> <br> <br>
            <form method="post">
{#                {% if basket_book_form.errors %}#}
{#                    <p>{{ basket_book_form.errors.as_text }}</p>#}
{#                {% endif %}#}
                {{ basket_book_form }}
                {% csrf_token %}
                <input type="submit" value="Add to basket">
            </form>
        </div>
        <h1>{{ book.title }}</h1>
        <h2>
            <a href="{{ book.genre.get_absolute_url }}">
                {{ book.genre }}
            </a>

        </h2>


        <h4>Price: ₴{{ book.price }}</h4>
        <h4>In_Stock: {{ book.quantity }}</h4>
        <h4>Author: {{ book.author }}</h4>
        <h4>Language: {{ book.language }}</h4>
        <h4>Pages: {{ book.pages }}</h4>
        <h4>ISBN: {{ book.isbn }}</h4>

        <h4>Description: <br>
            {{ book.description }}</h4>


        {{ basket.description|linebreaks }}

    </div>




{% endblock %}