{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ book.name }}
{% endblock %}

{% block content %}

  <div class="book-detail">

    <img src="{% if book.image %}{{ book.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}" alt="">

    <h1>{{ book.title }}</h1>
    <h2>
      <a href="{{ book.genre.get_absolute_url }}">
        {{ book.genre }}
      </a>

    </h2>
    <p class="price">
              <form action="{% url "basket:basket_add" book.id %}" method="post">
      {{ basket_book_form }}
      {% csrf_token %}
      <input type="submit" value="Add to basket">
    </form>


       <p>Price:  ₴{{ book.price }}</p>

                              <p>Author: {{ book.author }}</p>
                    <p>Language: {{ book.language }}</p>
                    <p>Pages: {{ book.pages }}</p>
                    <p>ISBN: {{ book.isbn }}</p>

                    <p>Description: <br>
                        <br>{{ book.description }}</p>
                    <p>Stock: {{book.quantity}}</p>




    {{ basket.description|linebreaks }}

  </div>




{% endblock %}