{% extends "includes/nav_header.html" %}



{% block title %}
    {% if genre %}{{ genre.name }}{% else %}Books{% endif %}
{% endblock %}

{% block content %}

    <div class="index">

        <div class="card-deck">

            {% for book in books %}
                <div class="book">
                    <div class="tar">

                        <a href="{{ book.get_absolute_url }}"><img class="card-img-top" src="{{ book.image.url }}"
                                                                   alt="Responsive image"></a> <br>

                        <a href="{{ book.get_absolute_url }}" class="card-text">
                            <h3>{{ book|truncatechars_html:20 }}</h3></a>
                        <div class="card-text font-weight-bold">{{ book.price }}₴</div>
                        <div class="card-text font-weight-bold">{{ book.author }}</div>

                        <div class="card-text">
                            <h2 class="text-warning">

                                {% if book.rating < 0.5 %}
                                    ☆☆☆☆☆
                                {% elif book.rating >= 0.5 and book.rating < 1.5 %}
                                    ★☆☆☆☆
                                {% elif book.rating >= 1.5 and book.rating < 2.5 %}
                                    ★★☆☆☆
                                {% elif book.rating >= 2.5 and book.rating < 3.5 %}
                                    ★★★☆☆
                                {% elif book.rating >= 3.5 and book.rating < 4.5 %}
                                    ★★★★☆
                                {% else %}
                                    ★★★★★
                                {% endif %}

                            </h2>
                                                    <a href="{{ book.get_absolute_url }}" class="btn btn-danger">Read More &rarr;</a>


                            <br><br>


                        </div>


                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
