h1, h2 {
    text-align: center;
    font-family: 'IM Fell French Canon SC', serif;

}

h4, h6 {
    text-align: -webkit-left;
    font-family: 'IM Fell French Canon SC', serif;

}

.login {
    border-radius: 4px;
    padding: 10px 50px 20px;
    background: #ececec;
    font-size: 14px;
    border: 0;
    margin-top: 50px;
}

.add-basket {
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
    float: right;
}

body {
    color: #444;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #EEF5DB, #B8D8D8, #FE5F55);

}

.price-item {
    width: 25%;
    padding: 10px 20px 10px 0;
    float: left;
    text-align: center;
    line-height: 2;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

tbody tr:nth-child(odd) {
    background: #efefef;
}

tbody tr.subtotal {
    background: #ccc;
}

thead th, tbody tr.total {
    background: #5993bb;
    color: #fff;
    font-weight: bold;

}

table.basket {
    margin-bottom: 40px;
}

table.basket img {
    width: 180px;
}

tbody td.num {
    text-align: left;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

form p label, form p input {
    float: left;
    clear: both;
}

form p label {
    font-size: 14px;
    padding-bottom: 4px;
}

form p input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;

}

ul.errorlist {
    float: top;
    color: #ff0000;
    font-size: 20px;
    border-radius: 4px;
}


#subheader {
    background: #ececec;
    padding: 10px 100px;
    overflow: auto;
    margin-top: 2%;


}

.author-detail {
    border-radius: 4px;
    padding: 10px 50px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #EEF5DB, #B8D8D8);
    font-size: 14px;
    border: 0;
    margin-top: 70px;
}


#header .logo {
    color: #000000;
    font-size: 50px;
    padding: 10px 70px 16px 0;

}

#subheader .basket {
    float: right;
    padding-top: 5px;

}

#content {
    padding: 0 100px;
    overflow: hidden;
}

#sidebar {
    width: 220px;
    padding: 30px 20px 0 0;
    float: left;
}

#sidebar ul {
    margin: 0;
    padding: 0;

}

#sidebar ul li {
    margin: 0;
    list-style: none;
    padding: 10px 14px;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li.selected {
    background: #5993bb;
    border-radius: 4px;

}

#sidebar ul li.selected a {
    color: #fff;
}

.book .tar {
    margin-left: 10%;
    text-align: center;

}

.book img {
    width: 350px;
    height: 500px;
    overflow: hidden;
    display: inline-block;
    margin: 1em;
    margin-bottom: 10px;


}

#main {
    float: left;
    width: 96%;
    margin-right: -220px;
    overflow: hidden;
}

.book-list .item {
    width: 25%;
    padding: 10px 20px 10px 0;
    float: left;
    text-align: center;
    line-height: 1.2;

}

.book-list .item img {
    width: 90%;
    left: 10%;
    margin-bottom: 10px;


}


.book-detail {
    border-radius: 4px;
    padding: 10px 50px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #F8F8F8, #94C5CC, #94C5CC);

    font-size: 14px;
    border: 0;
    margin-top: 70px;

}

.book-detail .price {
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.book-detail img {
    width: 350px;
    height: 500px;
    float: left;
    margin-right: 50px;
    padding: 0 20px 20px 0;

}


.book-detail h1 {
    margin-bottom: 0;
}

.book-detail h2 {
    margin-top: 10px;
}

.order-form {
    float: left;
}

.order-info {
    float: right;
    width: 300px;
    background: #efefef;
    padding: 10px 20px;
    color: #333;
    border-bottom: 4px solid #5993bb;
}


.order-info ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.order-info p {
    font-weight: bold;
    float: right;
}

.order-info span {
    float: right;
}




/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}


/* Current/active navbar link */
.active {
  background-color: #04AA6D;

}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    font-size: 35px;

  }
}

.basket-head {
float: right;
}