h1, h2 {
    text-align: center;
    font-family: 'IM Fell French Canon SC', serif;

}

h4, h6 {
    text-align: -webkit-left;
    font-family: 'IM Fell French Canon SC', serif;

}


.add-basket {
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    float: right;

}

.price-item {
    width: 25%;
    padding: 10px 20px 10px 0;
    float: left;
    text-align: center;
    line-height: 2;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

tbody tr:nth-child(odd) {
    background: white;
}

tbody tr.subtotal {
    background: red;
}

thead th, tbody tr.total {
    background: #5993bb;
    color: #fff;
    font-weight: bold;

}

table.basket {
    margin-bottom: 40px;
}

table.basket img {
    width: 180px;
}

tbody td.num {
    text-align: left;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

form p label, form p input {
    float: left;
    clear: both;
}

form p label {
    font-size: 14px;
    padding-bottom: 4px;
}

form p input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;

}

ul.errorlist {
    float: top;
    color: #ff0000;
    font-size: 20px;
    border-radius: 4px;
}

.author-detail {
    border-radius: 4px;
    padding: 10px 50px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #EEF5DB, #B8D8D8);
    font-size: 14px;
    border: 0;
    margin-top: 70px;
}


.index {
    height: 120vh;
    margin-top: -570px;
    margin-left: 17%;
    text-align: center;

}

.book img {
    width: 300px;
    height: 450px;
    overflow: hidden;
    display: inline-block;
    margin: 1em;
    margin-bottom: 10px;

}

.book-list .item {
    width: 25%;
    padding: 10px 20px 10px 0;
    float: left;
    text-align: center;
    line-height: 1.2;

}

.book-list .item img {
    width: 90%;
    left: 10%;
    margin-bottom: 10px;
}

.book-detail {
    width: 100%;
    padding: 50px 50px 20px;
    text-align: right;
    background: linear-gradient(to bottom, #F8F8F8, #94C5CC);
    margin-top: -570px;

}

.book-detail img {
    width: 450px;
    height: 600px;
    float: left;
    margin-right: 75px;
    margin-bottom: 50px;


}

.book-detail h1 {
    margin-bottom: 0;
}

.book-detail h2 {
    margin-top: 10px;
}

.order-form {
    float: left;
}

.order-info {
    float: right;
    width: 300px;
    background: #efefef;
    padding: 10px 20px;
    color: #333;
    border-bottom: 4px solid #5993bb;
}


.order-info ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.order-info p {
    font-weight: bold;
    float: right;
}

.order-info span {
    float: right;
}


/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.status1 {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 50px;
    padding: 8px;
    margin-bottom: 0;
}

.status2 {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 50px;
    padding: 8px;
    margin-bottom: 0;
}

.status3 {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    border-radius: 50px;
    padding: 8px;
    margin-bottom: 0;
}


.status4 {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    border-radius: 50px;
    padding: 8px;
    margin-bottom: 0;
}

.status5 {
    color: #8a6d3b;
    background-color: red;
    border-color: #faebcc;
    border-radius: 50px;
    padding: 8px;
    margin-bottom: 0;
}

.registration-form input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.signin-form, .signup-form {
    margin-top: 20px;
    border: 1px solid #B9C8B9;
    border-radius: 5px;
    padding: 15px;
}

.signin-form input, .signup-form input {
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0;
}

.signin-form h3, .signup-form h3 {
    font-family: "Times New Roman", Times, serif;
}

.signin-form a, .signup-form a {
    text-decoration: none;
    color: #0066c0;
}

.signin-form label, .signup-form label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}

.auth-validate-form button {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: #f0c14b;
    margin: 8px 0;
    border: 1px solid #c19a39;
}

.signin-form .btn-default {
    background: #e7e9ec;
    border: 1px solid #cfd4da;
    width: 100%;
    color: #111;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}

.a-divider-break {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-top: 10px;
    margin-bottom: 14px;
    line-height: 0;
}

.a-divider-break h5 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.a-divider-break:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}