{% extends "base.html" %}
{% load static %}

{% block title %}
  Your shopping Basket
{% endblock %}

{% block content %}
        <div class="col-sm-10 ">

  <h1>Your shopping Basket</h1>
  <table class="basket">
    <thead>
      <tr>
        <th>Image</th>
        <th>Book</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in basket %}
        {% with book=item.book %}
          <tr>
            <td>
              <a href="{{ book.get_absolute_url }}">
                <img src="{% if book.image %}{{ book.image.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
              </a>
            </td>
            <td>{{ book.title }}</td>
            <td>
              <form action="{% url "basket:basket_add" book.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url "basket:basket_remove" book.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">₴{{ item.price }}</td>
            <td class="num">₴{{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}

      <tr class="total">
        <td></td>
        <td colspan="4"></td>
        <td class="num">Total: <br>{{ basket.get_total_price }} ₴ </td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:book_list" %}" class="button
    light">Continue shopping</a>
    <a href="{% url "orders:order_create" %}" class="button">
      Checkout
    </a>
  </p>
{% endblock %}