<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <title>Book Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
{% load static %}
<link href="{% static "css/base.css" %}" rel="stylesheet">
<body>

{% block header_menu %}
{% endblock %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			{% include 'includes/sidebar.html' %}
		</div>
	<div id="snackbar"></div>
			{% block container %}{% endblock %}
		</div>

	</div>
</div>
{% block alert %}
    {% if messages %}
        <div class="row">
            <div class="col-sm-12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                            {{ message.tags|title }}{% endif %}!</strong> {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock alert %}

{% block content %}
{% endblock %}

{% block footer %}
<!-- Copyright -->
<div class="footer-copyright text-center py-3" style="background: #FE5F55; color: black"> <b>© 2021 Copyright: by Way2thesky</b></div>
{% endblock %}
</body>

</html>