{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <!-- FONT-->
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">
    <!-- LOADSTATIC -->

    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block extra %}
    {% endblock %}



<h1>My READSTER Project <br> Store - Low Prices for Books</h1>
<div id="header">
    <a href="/" class="logo">My shop</a>


</div>

<div id="subheader">


    <div class="basket">
        <a type="button" role="button"
           href="{% if user.is_authenticated %}{% url "basket:basket_detail" %}{% else %}{% url "login" %}{% endif %}"
           class="btn btn-outline-secondary border-0 basket-btn">
            {% with total_qty=basket|length %}
                <div id="basket-qty" class="basket-qty">
                    {{ total_qty|default_if_none:0 }}
                </div>
            {% endwith %}
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart3"
                     viewBox="0 0 16 16">
                    <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </div>
            <span class="fs15 fw500">Basket</span>
        </a>

        {% if user.is_authenticated %}

            <a type="button" role="button" href="{% url "orders:order_create" %}"
               class="btn btn-outline-secondary border-0 basket-btn">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                         class="bi bi-person" viewBox="0 0 16 16">
                        <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                    </svg>
                </div>
                <span class="fs15 fw500">Orders</span>

            </a>

            <a type="button" role="button" href="{% url "logout" %}"
               class="btn btn-outline-secondary border-0 basket-btn">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                         class="bi bi-door-closed" viewBox="0 0 16 16">
                        <path
                                d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"></path>
                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
                    </svg>
                </div>
                <span class="fs15 fw500">Logout: <br>{{ user }}</span>


            </a>

        {% else %}
            <a type="button" role="button" href="{% url "login" %}"
               class="btn btn-outline-secondary border-0 basket-btn">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                         class="bi bi-door-closed" viewBox="0 0 16 16">
                        <path
                                d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"></path>
                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
                    </svg>
                </div>
                <span class="fs15 fw500">Login</span>

            </a>

            <a type="button" role="button" href="{% url "register" %}"
               class="btn btn-outline-secondary border-0 basket-btn">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                         class="bi bi-person" viewBox="0 0 16 16">
                        <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                    </svg>
                </div>
                <span class="fs15 fw500">Register</span>
            </a>

        {% endif %}
    </div>

</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
