{% extends "includes/nav_header.html" %}
{% load static %}


{% block content %}
    <style>

        .index {
            text-align: center;
            height: 100vh;
            margin-top: -25px;
            background: linear-gradient(to bottom, #EEF5DB, #B8D8D8, #FE5F55);

        }

    </style>

    <div class="index">

        <h2>UML Models</h2>
        <h2>An UML diagram of the site's Django model structure is shown below. </h2>
        <img src="{% static "images/graph.png" %}" alt="My image" style="max-width: 100%"/>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}