{% extends "includes/nav_header.html" %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <style>

        .index {
            text-align: center;
            height: 100vh;
            margin-top: -25px;
            background: linear-gradient(to bottom, #EEF5DB, #B8D8D8, #FE5F55);

        }

    </style>



        <div class="index">
{##}
{#            <br><br><br>#}
{#            <h1>WELCOME TO OUR BOOKSTORE!</h1><br>#}
{#            <h5>#}
{#                Nowadays, the network plays an import role in people’s life.#}
{#                In the process of the improvement of the people’s living#}
{#                standard,people’s demands of the life’s quality and efficiency#}
{#                is more higher,the traditional bookstore’s inconvenience gradually#}
{#                emerge, and the online bookstore has to be gradually used in public. <br><br>#}
{##}
{#                The online bookstore is a revolution of book industry. The traditional#}
{#                bookstores’ operation time,address and space is limited, so the types#}
{#                of books to find receives a degree of restriction. But the#}
{#                online bookstore breaks the management mode of traditional bookstore.#}
{#                As long as you have a computer, you can read the book anywhere,saving#}
{#                time and effort, shortening the time of book selection link effectively.#}
{#                The online bookstore system based on this principle provides convenience#}
{#                and service to people.<br><br></h5>#}
{#            <h5>Enjoy reading online books with us.<br></h5>#}
{##}
{##}
{#            <br>#}
{#    </div>#}


    <h2>UML Models</h2>
    <h2>An UML diagram of the site's Django model structure is shown below. </h2>
    <img src="{% static "images/graph.png" %}" alt="My image" style="max-width: 100%"/>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}